<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/user.html :: headerfiles">

</head>

<body>
<!-- Topbar Start -->
<div th:replace="fragments/user.html :: topbar">

</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div th:replace="fragments/user.html :: navbar">

</div>
<!-- Navbar End -->

<!-- Page Header Start -->
<div th:replace="fragments/user.html :: pageheader">

</div>
<!-- Page Header End -->

<!-- Cart Start -->
<div class="container-fluid pt-5" id="content-cart">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table th:if="${session.carts} != null ? ${session.carts.getItems().size()} > 0 : false" class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                <tr>
                    <th>Products</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody class="align-middle">
                <tr th:each="item : ${session.carts.getItems()}">
                    <td class="align-middle"><img th:src="${item.getProduct().image}" alt="" style="width: 50px;"> [[${item.getProduct().name}]]</td>
                    <td class="align-middle price" th:productid="${item.getProduct().id}">[[${item.getFinalPrice()}]]</td>
                    <td class="align-middle">
                        <div class="input-group quantity mx-auto" style="width: 100px;">

                            <input min="1" type="number" class="form-control form-control-sm bg-secondary text-center quantityinput" th:value="${item.getQuantity()}" th:productid="${item.getProduct().id}">

                        </div>
                    </td>
                    <td class="align-middle product-total" th:productid="${item.getProduct().id}" th:text="${item.getFinalPrice()} * ${item.getQuantity()}">$150</td>
                    <td class="align-middle"><a th:href="@{'/cart/delete/' + ${item.getProduct().id}}" class="btn btn-sm btn-primary" ><i class="fa fa-times"></i></a></td>
                </tr>
                </tbody>
            </table>
            <div th:if="${session.carts} != null ? ${session.carts.getItems().size()} == 0 : true">Không có sản phẩm trong giỏ hàng</div>
        </div>
        <div class="col-lg-4" th:if="${session.carts} != null ? ${session.carts.getItems().size()} > 0 : false ">

            <div class="input-group mb-5">
                <input type="text" class="form-control p-4" id="input-coupon" placeholder="Coupon Code">
                <div class="input-group-append">
                    <button class="btn btn-primary" id="button-coupon">Apply Coupon</button>

                </div>

            </div>
            <div id="message"></div>
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium" id="subtotal" th:text="${session.carts.total}">$150</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Discount</h6>
                        <h6 class="font-weight-medium" id="discount">0</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold" id="total" th:text="${session.carts.total}"></h5>
                    </div>
                    <a class="btn btn-block btn-primary text-dark my-3 py-3" id="checkout" th:href="@{/checkout}">Đi đến thanh toán</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->

<!-- Footer Start -->
<div th:replace="fragments/user.html :: footer">

</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/007eshopper-1.0.0/lib/easing/easing.min.js"></script>
<script src="/007eshopper-1.0.0/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="/007eshopper-1.0.0/mail/jqBootstrapValidation.min.js"></script>
<script src="/007eshopper-1.0.0/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="/007eshopper-1.0.0/js/main.js"></script>
<script th:replace="fragments/user.html :: scriptaddtocart"></script>
<script th:fragment="scriptaddtocart">
    $(document).ready(function () {
        $(".quantityinput").on("change",function (event) {
            if($(this).attr("value") >= 1){
                const price = $("[productid=" + $(this).attr("productid") + "].price").text();
                const product_total_element = "[productid=" + $(this).attr("productid") + "].product-total";
                console.log(product_total_element);
                $(product_total_element).text($(this).val() * price);
                fire_ajax_submit_change_quantity($(this));
            }
        });

        $("#button-coupon").on("click",function (event){
            fire_ajax_discount();
        });

    });

    function fire_ajax_discount(){
        $.ajax({
            type: "post",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            url: "/discount/exists",
            data:{"name":$("#input-coupon").val()},
            dataType: "json",
            cache: false,
            timeout: 2000,
            success: function (data) {
                if(data.valid === true ){
                    console.log(window.location.origin);
                    $("#discount").text(data.discount.discount);
                    $("#total").text($("#subtotal").text() - data.discount.discount);
                    $("#message").text("Bạn đã áp dụng mã thành công");
                    $("#checkout").attr("href",window.location.origin + "/checkout?discount=" + data.discount.name);
                } else {
                    console.log(data);
                    $("#discount").text(0);
                    $("#total").text($("#subtotal"));
                    $("#message").text("Mã giảm giá không hợp lệ!");

                }
            }
        });
    }

    function fire_ajax_submit_change_quantity(input) {
        var jinput = {"productid": input.attr("productid"), "quantity": input.val()};
        $.ajax({
            type: "post",
            contentType: "application/json",
            url: "/cart/add",
            data: JSON.stringify(jinput),
            dataType: 'json',
            cache: false,
            timeout: 2000,
            success: function (data) {
                var json = Object.keys(data).length;
                $('#subtotal').text(data.total);
                $('#total').text(data.total - $("#discount").text());
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }
</script>
</body>

</html>